@charset "UTF-8";
* {
  bottom: 0;
  margin: 0;
  padding: 0;
  outline: none;
}

.body {
  background: linear-gradient(rgba(195, 250, 236, 0.7), rgba(1, 116, 96, 0.7));
  height: 100vh;
  padding: 20px;
}

.choice {
  color: rgb(173, 20, 20);
  border: 2px solid rgb(173, 20, 20);
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 30px;
  margin: 0 auto;
}
.choice__main-text {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.choice__main-text::after {
  content: "⤵";
  display: flex;
  align-items: center;
  height: 15px;
  font-style: normal;
  rotate: 180deg;
  transform: scale(-1, 1);
  padding-left: 10px;
}
.choice__text {
  font-size: 17px;
  font-style: italic;
  padding-left: 10px;
}

.tasks {
  background: linear-gradient(rgba(195, 250, 236, 0.7), rgba(1, 116, 96, 0.7));
}
.tasks__list {
  display: flex;
  justify-content: center;
  list-style: none;
}
.tasks__item {
  width: -moz-fit-content;
  width: fit-content;
}
.tasks__link {
  display: inline-block;
  font-size: 24px;
  border-radius: 8px;
  padding: 10px 20px;
  color: rgba(1, 78, 65, 0.801);
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}
.tasks__link:hover {
  color: rgba(0, 110, 92, 0.801);
}
.tasks__link::after {
  content: "";
  display: block;
  height: 2.1px;
  width: 100%;
  background: rgba(1, 78, 65, 0.801);
  box-shadow: 1px 1px 8px rgba(189, 250, 235, 0.623);
}

.hidden {
  display: none;
}

.task {
  background: linear-gradient(rgba(1, 116, 96, 0.7), rgba(195, 250, 236, 0.027));
}
.task__container {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}
.task__description {
  color: rgb(240, 255, 252);
  font-size: 18px;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(7, 94, 86);
  margin-bottom: 10px;
}
.task__description_link {
  color: rgb(7, 94, 86);
  font-weight: 600;
}
.task__description_detail {
  color: rgb(7, 94, 86);
  list-style: none;
  font-style: italic;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-shadow: 1px 1px 20px rgb(241, 255, 254);
}
.task__solution {
  display: grid;
  grid-template-columns: 1fr minmax(350px, 500px);
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: start;
  color: rgb(5, 77, 68);
}
.task__fake-text {
  text-align: center;
  line-height: 30px;
}
.task__chat {
  padding: 10px 0;
}
.task__button {
  padding: 10px 20px;
  margin: 10px;
}

hr {
  border: 1px solid rgb(7, 94, 86);
  margin: 20px;
}

.button {
  font-size: 18px;
  border: 1px solid rgba(1, 78, 65, 0.801);
  border-radius: 8px;
  background: rgba(1, 78, 65, 0);
  color: rgba(1, 78, 65, 0.801);
  box-shadow: 1px 1px 8px rgba(220, 255, 246, 0.349);
  text-shadow: 0.5px 0.5px 1.5px rgb(7, 94, 86);
}
.button:hover {
  border: 1px solid rgba(220, 255, 246, 0.349);
  background: rgba(19, 116, 99, 0.801);
  color: rgb(240, 255, 252);
}
.button:hover .button__icon {
  color: rgb(240, 255, 252);
}
.button_additional {
  font-size: 15px;
  max-width: 200px;
}
.button__block {
  display: flex;
  justify-content: flex-end;
  margin-right: 40%;
  width: 100%;
}

.button__icon_reverse svg {
  fill: rgb(240, 255, 252);
}
.button__icon_reverse path {
  stroke: rgba(19, 116, 99, 0.801);
}
.button__icon_initial::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' class='bi bi-arrow-down-left-circle' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-5.904-2.854a.5.5 0 1 1 .707.708L6.707 9.95h2.768a.5.5 0 1 1 0 1H5.5a.5.5 0 0 1-.5-.5V6.475a.5.5 0 1 1 1 0v2.768l4.096-4.097z'/%3E%3C/svg%3E");
  height: 25px;
}
.button__icon_invert::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' class='bi bi-arrow-down-left-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-5.904-2.803a.5.5 0 1 1 .707.707L6.707 10h2.768a.5.5 0 0 1 0 1H5.5a.5.5 0 0 1-.5-.5V6.525a.5.5 0 0 1 1 0v2.768l4.096-4.096z'/%3E%3C/svg%3E");
  height: 25px;
}

.button__icon, .button__icon_initial, .button__icon_invert {
  display: flex;
  align-items: center;
  color: rgba(1, 78, 65, 0.801);
}

.chat {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(223, 255, 252, 0.7), rgba(20, 110, 95, 0.733));
  border-radius: 2px;
  box-shadow: 2px 2px 6px 1px rgb(47, 97, 92);
  max-width: 420px;
}
.chat__messages {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 300px;
  min-width: 420px;
  overflow-y: scroll;
  position: relative;
}
.chat__messages::-webkit-scrollbar-thumb {
  background-color: rgb(47, 97, 92);
}
.chat__messages::-webkit-scrollbar {
  width: 6px;
}
.chat__user-message {
  padding: 5px 10px;
  align-self: flex-end;
  margin: 3px 10px;
}
.chat__server-message {
  padding: 5px 10px;
  margin: 3px 10px;
}
.chat__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 0 10px;
}
.chat__input {
  flex: 1 1 auto;
  background: rgba(229, 255, 246, 0.979);
  max-width: 190px;
  height: 20px;
  border: none;
  padding: 3.5px 5px;
  box-shadow: 0.5px 0.5px 3px 0.5px rgb(47, 97, 92);
}
.chat__button {
  font-size: 16px;
  padding: 5px;
  color: rgb(240, 255, 252);
  border: none;
  border-radius: 2px;
  box-shadow: 2px 2px 6px 1px rgb(47, 97, 92);
}
.chat__button:hover {
  padding: 5px 4px;
}

.server-message {
  border: 1px solid rgb(47, 97, 92);
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0.5px 0.5px 3px 0.3px rgb(47, 97, 92);
  background: rgba(198, 240, 226, 0.856);
}
.server-message__time {
  color: rgb(87, 99, 97);
  font-size: 11px;
}
.server-message__text {
  min-height: 18px;
  max-width: 400px;
  font-size: 16px;
}

.user-message {
  border: 1px solid rgb(47, 97, 92);
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0.5px 0.5px 3px 0.3px rgb(47, 97, 92);
  background: rgb(251, 252, 234);
}
.user-message__time {
  color: rgb(87, 99, 97);
  font-size: 11px;
}
.user-message__text {
  min-height: 18px;
  max-width: 400px;
  font-size: 16px;
}